<div class="container py-4">
    <div class="row g-4">
        <div class="col-md-12">

            <section>
                <div class="card shadow card-guidelines ">
                    <div class="color-band"></div>

                    <div class="card-body">
                        <h2>Colors</h2>
                        <h3>Primary</h3>
                        <div class="rects">
                            <div class="rect-color first"><span class="text-color">#23384E</span></div>
                            <div class="rect-color second"><span class="text-color">#FFFFFF</span></div>
                        </div>
                        <h3>Secondary</h3>
                        <div class="rects small d-flex flex-wrap">
                            <div class="rect-color third"><span class="text-color">#FFC600</span></div>
                            <div class="rect-color fourth"><span class="text-color">#c6dded</span></div>
                            <div class="rect-color fifth"><span class="text-color">#D0FBED</span></div>
                            <div class="rect-color sixth"><span class="text-color">#F5E9C0</span></div>
                            <div class="rect-color seventh"><span class="text-color">#1C1942</span></div>
                        </div>

                    </div>
                </div>
            </section>


            <section>
                <div class="card shadow card-guidelines ">
                    <div class="color-band"></div>

                    <div class="card-body">
                        <h2>Font</h2>

                        <blockquote class="quote mt-4">
                            <div class="d-flex flex-column flex-md-row">
                                <p class="w-100 w-md-50 ">How to write some citation</p>
                                <div class="w-100 w-md-50 d-flex justify-content-end typo">MerryWeather - 1.75rem</div>
                            </div>
                            <div class="d-flex flex-column flex-md-row">
                                <cite class="w-100 w-md-50 ">This is a citation</cite>
                                <div class="w-100 w-md-50 d-flex justify-content-end typo">MerryWeather - 0.875rem</div>
                            </div>

                        </blockquote>

                        <div class="d-flex flex-column flex-md-row mt-4">
                            <h1 class="w-100 w-md-50">Title 1</h1>
                            <div class="w-100 w-md-50 d-flex justify-content-end typo">Segoe UI - 2.5rem</div>
                        </div>

                        <div class="d-flex flex-column flex-md-row">
                            <h2 class="w-100 w-md-50 ">Title 2</h2>
                            <div class="w-100 w-md-50 d-flex justify-content-end typo">Segoe UI - 2rem</div>
                        </div>

                        <div class="d-flex flex-column flex-md-row">
                            <h3 class="w-100 w-md-50 mt-0">Title 3</h3>
                            <div class="w-100 w-md-50 d-flex justify-content-end typo">Segoe UI - 1.5rem</div>
                        </div>

                        <div class="d-flex flex-column flex-md-row">
                            <p class="w-100 w-md-50 ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat velit a tortor finibus interdum. Phasellus ullamcorper felis lacus, at lacinia nibh ultrices id. Cras pharetra nibh ut arcu feugiat, ac viverra dui semper.
                            </p>
                            <div class="w-100 w-md-50 d-flex justify-content-end typo">Segoe UI - 1rem</div>
                        </div>


                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
