<div class="container py-4">
    <div class="row g-4">
        <div class="col-md-12">

            <section>
                <div class="card shadow card-guidelines ">
                    <div class="color-band"></div>

                    <div class="card-body">
                        <h2>Colors</h2>
                        <h3>Primary</h3>
                        <div class="rects">
                            <div class="rect-color first"><span class="text-color">#23384E</span></div>
                            <div class="rect-color second"><span class="text-color">#FFFFFF</span></div>
                        </div>
                        <h3>Secondary</h3>
                        <div class="rects small d-flex flex-wrap">
                            <div class="rect-color third"><span class="text-color">#FFC600</span></div>
                            <div class="rect-color fourth"><span class="text-color">#c6dded</span></div>
                            <div class="rect-color fifth"><span class="text-color">#D0FBED</span></div>
                            <div class="rect-color sixth"><span class="text-color">#F5E9C0</span></div>
                            <div class="rect-color seventh"><span class="text-color">#1C1942</span></div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
