<div class="container py-4">
    <div class="row g-4">
        <div class="col-md-12">
            <div class="card shadow brandguidelines">
                <div class="color-band"></div>

                <div class="card-body">
                    <section>
                        <h2>Colors</h2>
                        <h3>Primary</h3>
                        <div class="rects">
                            <div class="rect-color first"></div>
                            <div class="rect-color second"></div>
                        </div>
                        <h3>Secundary</h3>
                        <div class="rects small">
                            <div class="rect-color third"></div>
                            <div class="rect-color fourth"></div>
                            <div class="rect-color fifth"></div>
                            <div class="rect-color sixth"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
