img.battlefield.card-img-top {
    object-fit: contain !important;
    background: linear-gradient(180deg, #018fcf, #027bb3);
}

.card img {
    max-height: 200px;
    object-fit: cover;
    object-position: top;
}

.modal-body img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.modal-body img:hover {
    transform: scale(1.05);
}

.card-text {
    font-size: 0.9rem;
    color: #d2d2d2;
}

.card-body {
    min-height: 17rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.placeholder {
    height: 200px;
    width: 100%;
}
