.nav-tabs {
    border: none;
    .nav-link {
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        color: #eee;
        &:hover {
            border-bottom: 2px solid #ffebb1;
            color: #ffebb1 !important;
        }
        &.active {
            border-bottom: 2px solid #ffebb1;
            color: #ffebb1 !important;
            font-weight: bold;
        }
    }
}

.card {
    .card-img-top {
        transition: transform 0.3s ease;
    }
    &:hover .card-img-top {
        transform: scale(1.05);
    }
}