<div class="container py-5">
    <div class="mb-5">
        <blockquote class="blockquote">
            <p class="mb-3 fst-italic">
                "Form follows function - that has been misunderstood. Form and function should be one, joined in a spiritual union."
            </p>
            <footer class="blockquote-footer">
                Frank Lloyd Wright
            </footer>
        </blockquote>
    </div>

    <div class="mb-4">
        <p>Discover this building at Rue des Ateliers 50/2, 7100 La Louvière, Belgium, transformed into apartments under the direction of Marco Vigna for the 3D rendering.</p>
        <a href="https://www.google.com/maps/@50.465529,4.2078345,3a,75y,250.82h,90t/data=!3m7!1e1!3m5!1siXjCQhyH2bYTP-jffOcD8Q!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D0%26panoid%3DiXjCQhyH2bYTP-jffOcD8Q%26yaw%3D250.82364!7i16384!8i8192?entry=ttu&g_ep=EgoyMDI0MTIxMC4wIKXMDSoASAFQAw%3D%3D"
            class="btn  btn-danger  align-items-start justify-content-center" target="_blank">
            <i class="bi bi-geo-alt-fill me-2"></i> View on Google Maps
        </a>
    </div>

    <!-- Onglets -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item" *ngFor="let tab of archGallery; let i = index">
            <button class="nav-link bg-transparent" [class.active]="selectedTab === i" (click)="selectTab(i)">
            {{ tab.title }}
        </button>
        </li>
    </ul>

    <!-- Galerie d'images -->
    <div class="row g-4">
        <div class="col-sm-6 col-md-4" *ngFor="let image of archGallery[selectedTab].images">
            <div class="card shadow-sm position-relative" (click)="openImageInModal(image)">
                <img [src]="image.img" [alt]="image.alt" class="card-img-top rounded">
                <div class="overlay"></div>
                <!-- Overlay pour l'effet hover -->
                <div class="card-body p-2">
                    <p class="card-text text-center">{{ image.alt }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying large images -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModalLabel">{{ selectedImage?.alt }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <a *ngIf="selectedImage?.url" [href]="selectedImage?.url" class="btn btn-danger d-flex align-items-center justify-content-center rounded-bottom-0" target="_blank">
                    <span class="me-2">360° Panoramic View</span>
                    <i class="bi bi-eye fs-5"></i>
                </a>
                <img *ngIf="selectedImage" [src]="selectedImage.img" [class]="selectedImage.url ? 'rounded-bottom' : 'rounded' " class="img-fluid" alt="{{ selectedImage.alt }}">
            </div>
        </div>
    </div>
</div>
