<div class="container py-5">
    <div class="mb-5">
        <blockquote class="blockquote">
            <p class="mb-3 fst-italic">
                "Freedom is not worth having if it does not include the freedom to make mistakes."
            </p>
            <footer class="blockquote-footer">
                Mahatma Gandhi
            </footer>
        </blockquote>
    </div>
    <!-- Onglets -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item" *ngFor="let tab of archGallery; let i = index">
            <button class="nav-link bg-transparent" [class.active]="selectedTab === i" (click)="selectTab(i)">
      {{ tab.title }}
    </button>
        </li>
    </ul>

    <!-- Galerie d'images -->
    <div class="row g-4">
        <div class="col-sm-6 col-md-4" *ngFor="let image of archGallery[selectedTab].images">
            <div class="card shadow-sm">
                <img [src]="image.url" [alt]="image.alt" class="card-img-top rounded" style="border-radius: 1rem;">
                <div class="card-body p-2">
                    <p class="card-text text-center">{{ image.alt }}</p>
                </div>
            </div>
        </div>
    </div>
</div>