<div class="container py-5">
    <!-- Citation -->
    <div class="mb-5">
        <blockquote class="blockquote">
            <p class="mb-3 fst-italic">
                "Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them."
            </p>
            <footer class="blockquote-footer">
                Steve Jobs
            </footer>
        </blockquote>
    </div>

    <!-- Profile Section -->
    <div class="row align-items-start mb-3">
        <div class="col-12 col-md-6 col-xl-4">
            <img src="assets/img/portrait_alexis03.jpeg" alt="Alexis Degraeve" class="shadow portrait">
        </div>
        <div class="col-12 col-md-6 col-xl-8">
            <h2 class="fw-bold">Alexis Degraeve</h2>
            <p class="text-muted">Webdesigner / Infographist / Developer</p>
        </div>
    </div>

    <!-- Skills and Interests -->
    <div class="row g-4">
        <!-- Languages -->
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100 shadow border-0">

                <div class="card-body">
                    <h5 class="card-title">Languages</h5>
                    <div class="d-flex flex-column">
                        <div *ngFor="let lang of languages" class="d-flex justify-content-between align-items-center py-2">
                            <span class="col text-start">{{ lang.name }}</span>
                            <span class="col text-end ms-auto">
                              {{ lang.level }} - {{ '★'.repeat(lang.stars) }}{{ '☆'.repeat(5 - lang.stars) }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Social Media -->
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100 shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Social Media</h5>
                    <div class="d-grid gap-2">
                        <a href="https://www.linkedin.com/in/degraevealexis" target="_blank" class="btn btn-outline-light">
                            <i class="fab fa-linkedin me-2"></i>LinkedIn
                        </a>
                        <a href="https://www.instagram.com/alexisdegraeve" target="_blank" class="btn btn-outline-warning">
                            <i class="fab fa-instagram me-2"></i>Instagram
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Music -->
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100 shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Music</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fa fa-music me-2"></i> Piano -
                            <a href="https://imaginarium-asbl.be/index.php/author/anais/" target="_blank" class="link-warning  text-decoration-none">
                Imaginarium
              </a>
                        </li>
                        <li>
                            <i class="fa fa-music me-2"></i> Singing -
                            <a href="https://jmomusique.blog/tag/aurore-rinchon/" target="_blank" class="link-warning text-decoration-none">
                En avant la musique!
              </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Photography -->
        <div class="col-lg-4 col-sm-6">
            <div class="card h-100 shadow border-0">
                <div class="card-body">
                    <h5 class="card-title">Photography</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-camera me-2"></i> Ivan Plettinckx</li>
                        <li><i class="fa fa-camera me-2"></i> Julian Pirson</li>
                        <li><i class="fa fa-camera me-2"></i> Stéphanie Bola</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>