<div class="general-container">

    <div class="pipe">
    </div>
    <div class="smoke-container">
        <div class="smoke"></div>
        <div class="smoke"></div>
        <div class="smoke"></div>
        <div class="smoke"></div>
    </div>
</div>


<div class="container py-4">

    <div class="title-quote">
        <app-page-header [title]="'MENU.about'" [back]="'/artist'"></app-page-header>
        <blockquote class="quote">
            <p [innerHTML]="('ABOUT.citation' | translate)"></p>
            <cite>— {{ 'ABOUT.magritte' | translate }}</cite>
        </blockquote>
    </div>



    <!-- Profile Section -->
    <div class="middle-content">
        <div class=" row align-items-start mb-3 mt-4 ">
            <div class="row align-items-center ">
                <!-- Colonne de gauche : Image -->
                <div class="col-auto text-center text-md-start ">
                    <div class="avatar-alexis avatar-skeleton " *ngIf="isLoadingAlexis "></div>
                    <!-- Skeleton Loader -->
                    <img src="assets/img/alexis_face.jpg " alt="Alexis Degraeve " class="img-fluid rounded-circle avatar-alexis " (load)="onImageLoadAlexis() " [class.d-none]="isLoadingAlexis " />
                </div>

                <!-- Colonne de droite : Texte -->
                <div class="col-12 col-md-8 ">
                    <div class="info-top">
                        <h3 class="fw-bold text-white">Alexis Degraeve</h3>
                        <p class="text-muted">
                            <span [innerHTML]="( 'ABOUT.titre' | translate) "></span> <br />
                            <span class="text-info fw-bold ">
                    <a href="https://www.unamur.be/fr/info/etudes/info-hd " class="text-warning text-decoration-none " target="_blank " [innerHTML]="( 'ABOUT.master' | translate) ">
                    </a>
                </span>
                            <br /> {{'ABOUT.title-thesis' | translate }}: <em>
                    <a href="https://researchportal.unamur.be/fr/studentTheses/%C3%A9tude-pr%C3%A9liminaire-pour-lint%C3%A9gration-dun-chatbot-comme-dispenseur "
                        class="text-warning text-decoration-none " target="_blank " [innerHTML]="( 'ABOUT.thesis' | translate) ">
                    </a>
                </em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-12 col-lg-12">
                    <div class="card h-100 shadow border-0 d-flex flex-row  timeline-card">

                        <!-- Bande verticale arc-en-ciel -->
                        <div class="timeline-line"></div>

                        <div class="card-body">

                            <h5 *ngIf="!isLoading; else skeleton " class="card-title mb-4" [innerHTML]="( 'ABOUT.my-journey' | translate) "></h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>
                            <p [innerHTML]="'CV.presentation' | translate"></p>

                            <!-- Parcours résumé -->
                            <p [innerHTML]="'CV.parcours' | translate"></p>

                            <!-- Technologies / Skills -->
                            <div class="mt-4">
                                <h6 class="fw-bold" [innerHTML]="'CV.technologiesTitle' | translate"></h6>
                                <ul>
                                    <li *ngFor="let tech of 'CV.technologies' | translate" [innerHTML]="tech"></li>
                                </ul>
                            </div>
                            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center mt-3">

                                <!-- Texte à gauche -->
                                <p class="mb-2 mb-md-0 me-md-3" [innerHTML]="'CV.contactinfo' | translate"></p>

                                <!-- Bouton à droite -->
                                <a [routerLink]="['/contact']" type="button" class="btn btn-outline-warning ms-md-auto">
                                    <i class="fa fa-envelope me-2"></i> {{ 'CV.contactButton' | translate }}
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4">
                <div class="col-12 col-lg-12">
                    <div class="card h-100 shadow border-0 d-flex flex-row  timeline-card">

                        <!-- Bande verticale arc-en-ciel -->
                        <div class="timeline-line"></div>

                        <div class="card-body">

                            <h5 *ngIf="!isLoading; else skeleton " class="card-title mb-4" [innerHTML]="( 'ABOUT.university' | translate) "></h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>

                            <p *ngIf="!isLoading" [innerHTML]="('ARTIST.expert-last' | translate)"></p>
                            <div *ngIf="isLoading" class="skeleton skeleton-text"></div>

                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of musicData">
                                    <div class="card h-100">
                                        <div class="card-header d-flex align-items-center">
                                            <div [class]="card.class">
                                                <img [src]="card.image" class="img-preview" [alt]="card.title" *ngIf="card.image && !isLoading ">
                                                <i [class]="card?.icon" class="circle-icon" *ngIf="card.icon && !isLoading"></i>
                                                <div *ngIf="isLoading" class="skeleton skeleton-image-square"></div>
                                            </div>
                                        </div>
                                        <div class="card-body artist-body">
                                            <h5 class="card-title" *ngIf="isLoading" [innerHTML]="card.title | translate"></h5>
                                            <div *ngIf="isLoading" class="skeleton skeleton-title"></div>
                                            <div *ngIf="!isLoading" class="card-info">
                                                <p class="card-text" [innerHTML]="card.description | translate"></p>
                                                <a *ngIf="card.href" [href]="card.href" target="_blank" class="btn btn-outline-light mt-3 mb-4">
                                                    <span>{{ 'ARTIST.btn-know-more' | translate }}</span> <i class="bi bi-chevron-right ms-2"></i>
                                                </a>
                                            </div>
                                            <div *ngIf="isLoading">
                                                <div class="skeleton skeleton-text"></div>
                                                <div class="skeleton skeleton-button"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Skills and Interests -->
            <div class=" row g-4 ">
                <!-- Languages -->
                <div class="col-lg-4 col-sm-6 ">
                    <div class="card h-100 shadow border-0 ">
                        <div class="card-body ">
                            <h5 *ngIf="!isLoading; else skeleton " class="card-title mb-4">{{ 'ABOUT.languages' | translate }}</h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>
                            <div class="d-flex flex-column ">
                                <div *ngFor="let lang of languages " class="d-flex justify-content-between align-items-center py-2 ">
                                    <span *ngIf="!isLoading; else skeletonLang " class="col text-start ">{{ lang.name | translate }}</span>
                                    <ng-template #skeletonLang>
                                        <div class="skeleton-text "></div>
                                        <!-- Skeleton loader pour les langues -->
                                    </ng-template>
                                    <span *ngIf="!isLoading; else skeletonStars " class="col text-end ms-auto text-nowrap ">
                                  {{ lang.level | translate }} - {{ '★'.repeat(lang.stars) }}{{ '☆'.repeat(5 - lang.stars) }}
                              </span>
                                    <ng-template #skeletonStars>
                                        <div class="skeleton-text "></div>
                                        <!-- Skeleton loader pour le niveau -->
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Social Media -->
                <div class="col-lg-4 col-sm-6 ">
                    <div class="card h-100 shadow border-0 ">
                        <div class="card-body ">
                            <h5 *ngIf="!isLoading; else skeleton " class="card-title mb-4" [innerHTML]="( 'ABOUT.SocialMedia' | translate) "></h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>
                            <div class="d-grid gap-2 ">
                                <a *ngIf="!isLoading; else skeletonSocial " href="https://www.linkedin.com/in/degraevealexis " target="_blank " class="btn btn-outline-light ">
                                    <i class="fab fa-linkedin me-2 "></i>LinkedIn
                                </a>
                                <ng-template #skeletonSocial>
                                    <div class="skeleton-text "></div>
                                    <!-- Skeleton loader pour le lien -->
                                </ng-template>
                                <a *ngIf="!isLoading; else skeletonInstagram " href="https://www.instagram.com/alexisdegraeve " target="_blank " class="btn btn-outline-warning ">
                                    <i class="fab fa-instagram me-2 "></i>Instagram
                                </a>
                                <ng-template #skeletonInstagram>
                                    <div class="skeleton-text "></div>
                                    <!-- Skeleton loader pour le lien -->
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Music -->
                <div class="col-lg-4 col-sm-6 ">
                    <div class="card h-100 shadow border-0 ">
                        <div class="card-body ">
                            <h5 *ngIf="!isLoading; else skeleton " class="card-title mb-4" [innerHTML]="( 'ABOUT.Music' | translate) "></h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>
                            <ul *ngIf="!isLoading; else skeletonList " class="list-unstyled ">
                                <li *ngFor="let item of musicItems ">
                                    <i class="fa fa-music me-2 "></i> {{ item.name | translate }} -
                                    <a href="{{ item.link }} " target="_blank " class="link-warning text-decoration-none ">{{ item.title }}</a>
                                </li>
                            </ul>
                            <ng-template #skeletonList>
                                <div class="skeleton-text "></div>
                                <!-- Skeleton loader pour la liste -->
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
