<div class="container py-4">
    <!-- Citation -->
    <app-page-header [title]="'MENU.about'" [back]="'/artist'"></app-page-header>
    <div class="general-container">

        <div class="pipe">
        </div>
        <div class="smoke-container">
            <div class="smoke"></div>
            <div class="smoke"></div>
            <div class="smoke"></div>
            <div class="smoke"></div>
        </div>
        <blockquote class="quote">
            <p [innerHTML]="('ABOUT.citation' | translate)"></p>
            <cite>— {{ 'ABOUT.magritte' | translate }}</cite>
        </blockquote>

    </div>



    <!-- Profile Section -->
    <div class="middle-content">
        <div class=" row align-items-start mb-3 mt-4 ">
            <div class="row align-items-center ">
                <!-- Colonne de gauche : Image -->
                <div class="col-auto text-center text-md-start ">
                    <div class="avatar-alexis avatar-skeleton " *ngIf="isLoadingAlexis "></div>
                    <!-- Skeleton Loader -->
                    <img src="assets/img/alexis_face.jpg " alt="Alexis Degraeve " class="img-fluid rounded-circle avatar-alexis " (load)="onImageLoadAlexis() " [class.d-none]="isLoadingAlexis " />
                </div>

                <!-- Colonne de droite : Texte -->
                <div class="col-12 col-md-8 ">
                    <h2 class="fw-bold ">Alexis Degraeve</h2>
                    <p class="text-muted ">
                        <span [innerHTML]="( 'ABOUT.titre' | translate) "></span> <br />
                        <span class="text-info fw-bold ">
                    <a href="https://www.unamur.be/fr/info/etudes/info-hd " class="text-warning text-decoration-none " target="_blank " [innerHTML]="( 'ABOUT.master' | translate) ">
                    </a>
                </span>
                        <br /> {{'ABOUT.title-thesis' | translate }}: <em>
                    <a href="https://researchportal.unamur.be/fr/studentTheses/%C3%A9tude-pr%C3%A9liminaire-pour-lint%C3%A9gration-dun-chatbot-comme-dispenseur "
                        class="text-warning text-decoration-none " target="_blank " [innerHTML]="( 'ABOUT.thesis' | translate) ">
                    </a>
                </em>
                    </p>
                </div>
            </div>
            <!-- Skills and Interests -->
            <div class="row g-4 ">
                <!-- Languages -->
                <div class="col-lg-4 col-sm-6 ">
                    <div class="card h-100 shadow border-0 ">
                        <div class="card-body ">
                            <h5 *ngIf="!isLoading; else skeleton " class="card-title ">{{ 'ABOUT.languages' | translate }}</h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>
                            <div class="d-flex flex-column ">
                                <div *ngFor="let lang of languages " class="d-flex justify-content-between align-items-center py-2 ">
                                    <span *ngIf="!isLoading; else skeletonLang " class="col text-start ">{{ lang.name | translate }}</span>
                                    <ng-template #skeletonLang>
                                        <div class="skeleton-text "></div>
                                        <!-- Skeleton loader pour les langues -->
                                    </ng-template>
                                    <span *ngIf="!isLoading; else skeletonStars " class="col text-end ms-auto text-nowrap ">
                                  {{ lang.level | translate }} - {{ '★'.repeat(lang.stars) }}{{ '☆'.repeat(5 - lang.stars) }}
                              </span>
                                    <ng-template #skeletonStars>
                                        <div class="skeleton-text "></div>
                                        <!-- Skeleton loader pour le niveau -->
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Social Media -->
                <div class="col-lg-4 col-sm-6 ">
                    <div class="card h-100 shadow border-0 ">
                        <div class="card-body ">
                            <h5 *ngIf="!isLoading; else skeleton " class="card-title " [innerHTML]="( 'ABOUT.SocialMedia' | translate) "></h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>
                            <div class="d-grid gap-2 ">
                                <a *ngIf="!isLoading; else skeletonSocial " href="https://www.linkedin.com/in/degraevealexis " target="_blank " class="btn btn-outline-light ">
                                    <i class="fab fa-linkedin me-2 "></i>LinkedIn
                                </a>
                                <ng-template #skeletonSocial>
                                    <div class="skeleton-text "></div>
                                    <!-- Skeleton loader pour le lien -->
                                </ng-template>
                                <a *ngIf="!isLoading; else skeletonInstagram " href="https://www.instagram.com/alexisdegraeve " target="_blank " class="btn btn-outline-warning ">
                                    <i class="fab fa-instagram me-2 "></i>Instagram
                                </a>
                                <ng-template #skeletonInstagram>
                                    <div class="skeleton-text "></div>
                                    <!-- Skeleton loader pour le lien -->
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Music -->
                <div class="col-lg-4 col-sm-6 ">
                    <div class="card h-100 shadow border-0 ">
                        <div class="card-body ">
                            <h5 *ngIf="!isLoading; else skeleton " class="card-title " [innerHTML]="( 'ABOUT.Music' | translate) "></h5>
                            <ng-template #skeleton>
                                <div class="skeleton-text skeleton-title "></div>
                                <!-- Skeleton loader pour le titre -->
                            </ng-template>
                            <ul *ngIf="!isLoading; else skeletonList " class="list-unstyled ">
                                <li *ngFor="let item of musicItems ">
                                    <i class="fa fa-music me-2 "></i> {{ item.name | translate }} -
                                    <a href="{{ item.link }} " target="_blank " class="link-warning text-decoration-none ">{{ item.title }}</a>
                                </li>
                            </ul>
                            <ng-template #skeletonList>
                                <div class="skeleton-text "></div>
                                <!-- Skeleton loader pour la liste -->
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>