<div class="container py-5">
    <div class="general-container">
        <div class="card-header-icon">
            <i class="bi bi-music-note-beamed central-icon" *ngIf="translationsLoaded"></i>
            <div *ngIf="!translationsLoaded" class="skeleton skeleton-image"></div>
        </div>
    </div>
    <div class="middle-content">
        <h5 class="mb-4" *ngIf="translationsLoaded" [innerHTML]="('ARTIST.title-music' | translate)"></h5>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-title mb-4"></div>
        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.music' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>



        <div class="row space-top-8">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of musicData">
                <div class="card h-100">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-header-icon" [class]="card.class">
                            <i [class]="card.icon" class="circle-icon" *ngIf="card.icon && translationsLoaded "></i>
                            <div *ngIf="!translationsLoaded" class="skeleton skeleton-image"></div>
                        </div>
                    </div>
                    <div class="card-body artist-body">
                        <h5 class="card-title" *ngIf="translationsLoaded" [innerHTML]="card.title | translate"></h5>
                        <div *ngIf="!translationsLoaded" class="skeleton skeleton-title"></div>
                        <div *ngIf="translationsLoaded">
                            <p class="card-text" [innerHTML]="card.description | translate"></p>
                            <a *ngIf="card.href" [href]="card.href" target="_blank" class="btn btn-outline-light mt-3 mb-4">
                                <span>{{ 'ARTIST.btn-know-more' | translate }}</span> <i class="bi bi-chevron-right ms-2"></i>
                            </a>
                        </div>
                        <div *ngIf="!translationsLoaded">
                            <div class="skeleton skeleton-text"></div>
                            <div class="skeleton skeleton-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
