<div class="container py-4">
    <app-page-header [title]="'UX_CASES.title' | translate" [back]="'/portfolio'">
    </app-page-header>

    <p class="lead mb-4">
        {{ 'UX_CASES.desc' | translate }}
    </p>

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of uxCases">
            <div class="card h-100 ux-case-card">
                <!-- HEADER (comme Artist) -->
                <div class="card-header d-flex align-items-center justify-content-center">
                    <div class="circle-header">
                        <i *ngIf="item.icon" [class]="item.icon" class="circle-icon"></i>
                    </div>
                </div>

                <!-- BODY -->
                <div class="card-body artist-body text-center">
                    <h5 class="card-title" [innerHTML]="item.titleKey | translate"></h5>

                    <p class="card-text" [innerHTML]="item.subTitleKey | translate"></p>

                    <a *ngIf="item.route" [routerLink]="item.route" class="btn btn-outline-light mt-3 mb-4">
                        <span>{{ 'ARTIST.btn-know-more' | translate }}</span>
                        <i class="bi bi-chevron-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>