<div class="container py-4">
    <app-page-header [title]="'UX_CASES.title' | translate" [back]="'/ux-cases'">
    </app-page-header>

    <p class="lead text-center mb-4">{{ 'UX_CASES.desc' | translate }}</p>

    <div class="list-group">
        <button *ngFor="let item of uxCases" class="list-group-item list-group-item-action d-flex align-items-center" [routerLink]="item.route">
      <i class="bi me-3" [class]="item.icon"></i>
      <div>
        <div class="fw-bold">{{ item.titleKey | translate }}</div>
        <small class="text-muted">{{ item.subTitleKey | translate }}</small>
      </div>
    </button>
    </div>
</div>
