<div class="container py-4">
    <app-page-header [title]="'UX_CASES.title' | translate" [back]="'/portfolio'">
    </app-page-header>

    <p class="lead  mb-4">
        {{ 'UX_CASES.desc' | translate }}
    </p>

    <div class="row gx-4 gy-4 ux-cases-grid">
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let item of uxCases">
            <a [routerLink]="item.route" class="ux-case-card text-decoration-none">
                <div class="card-body d-flex flex-column align-items-center text-center">
                    <i class="bi folder-icon mb-3" [class]="item.icon"></i>
                    <h5 class="card-title">{{ item.titleKey | translate }}</h5>
                    <p class="card-text text-muted">
                        {{ item.subTitleKey | translate }}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>
