<div class="container py-4">
    <app-page-header [title]="'PORTFOLIO.title-workshop-draw'" [back]="'/portfolio'"></app-page-header>

    <div class="mb-5">
        <blockquote class="blockquote">
            <p class="mb-3 fst-italic">
                {{ 'PORTFOLIO.desc-workshop-draw' | translate }}
            </p>
        </blockquote>
    </div>

    <!-- Galerie d'images -->
    <div class="row g-4">
        <div class="col-sm-6 col-md-4" *ngFor="let image of archGallery[selectedTab].images">
            <div class="card shadow-sm position-relative" (click)="openImageInModal(image)" style="cursor:pointer">
                <img [src]="image.url" [alt]="image.alt" class="card-img-top rounded draw">
            </div>
        </div>
    </div>
</div>

<!-- Modal Bootstrap pour afficher l'image -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-0" *ngIf="selectedImage">
                <h5 class="modal-title">{{ selectedImage.alt | translate }}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" *ngIf="selectedImage">
                <img [src]="selectedImage.url" [alt]="selectedImage.alt" class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>
