.draw {
    height: 35.5rem;
    object-fit: contain;
    background: #fff;
}

.image-card {
    position: relative;
    overflow: hidden;
}


/* spinner plein centre */

.spinner-overlay {
    position: absolute;
    inset: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


/* image fade-in */

.fade-img {
    opacity: 0;
    transition: opacity .4s ease;
}

.fade-img.loaded {
    opacity: 1;
}
