.unamur {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 12.5rem;
    align-items: center;
    img {
        height: 8rem;
    }
}

.chatbot {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 12.5rem;
    align-items: center;
}
