<div class="container py-4">
    <app-page-header [title]="'PORTFOLIO.title-3D'" [back]="'/portfolio'"></app-page-header>
    <div *ngIf="!imageLoaded" class="placeholder-glow">
        <div class="placeholder rounded" style="width: 100%; height:105px;"></div>
    </div>
    <div *ngIf="imageLoaded" class="mb-5">
        <blockquote class="blockquote">
            <p class="mb-3 fst-italic">
                "Design is intelligence made visible."
            </p>
            <footer class="blockquote-footer">
                Alina Wheeler
            </footer>
        </blockquote>
    </div>

    <div class="mb-4">
        <p>Discover my pixel-perfect 3D creations through tutorials, and try to replicate them as faithfully as possible. I use 3ds Max for modeling and Adobe Creative Suite for texturing to achieve the highest level of detail.</p>
    </div>

    <!-- Onglets -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item" *ngFor="let tab of archGallery; let i = index">
            <button class="nav-link bg-transparent" [class.active]="selectedTab === i" (click)="selectTab(i)">
              {{ tab.title }}
          </button>
        </li>
    </ul>

    <!-- Galerie d'images -->
    <div class="row g-4">
        <div class="col-sm-6 col-md-4" *ngFor="let image of archGallery[selectedTab].images">
            <div class="card shadow-sm position-relative" (click)="openImageInModal(image)">
                <div *ngIf="!imageLoaded" class="placeholder-glow">
                    <div class="placeholder rounded-bottom-0" style="width: 100%; height: 200px;"></div>
                </div>
                <img [hidden]="!imageLoaded" [src]="image.img" [alt]="image.alt" class="card-img-top  rounded-bottom-0 img-container" (load)="onImageLoad()">
                <div class="overlay"></div>
                <!-- Overlay pour l'effet hover -->
                <div class="card-body p-2">
                    <p class="card-text text-center">{{ image.alt }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying large images -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModalLabel">{{ selectedImage?.alt }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <a *ngIf="selectedImage?.url" [href]="selectedImage?.url" class="btn btn-danger d-flex align-items-center justify-content-center rounded-bottom-0" target="_blank">
                    <span class="me-2">360° Panoramic View</span>
                    <i class="bi bi-eye fs-5"></i>
                </a>
                <img *ngIf="selectedImage" [src]="selectedImage.img" [class]="selectedImage.url ? 'rounded-bottom' : 'rounded' " class="img-fluid" alt="{{ selectedImage.alt }}">
            </div>
        </div>
    </div>
</div>
