@use './variables.scss' as *;
$primary-color:#252728;
body.dark-theme {
    color: #fff;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #111822 -100%, #4575A3 100%);
    background-repeat: no-repeat;
    background-color: #3b648b;
    --txt-grey: #ccc;
    --title-ganesha: #fff;
    --bg-footer: #1a2839;
    --bg-header: #252728;
    --bs-body-color: #fff;
    --bs-body-bg: #252728;
    --bs-heading-color: #cee2f0;
    --bs-nav-link-color: #ddd;
    --bs-link-color: #f8c200;
    /* Jaune clair pour les liens */
    --bs-link-hover-color: #e1a100;
    --bs-link-decoration: none;
    /* Jaune plus foncé pour le survol des liens */
    --bs-nav-link-hover-color: #f8c200;
    --bs-secondary-color: rgba(255, 255, 255, 0.75);
    .content {
        background-image: linear-gradient(160deg, #111822 -100%, #4575A3 100%);
        background-repeat: no-repeat;
        background-color: #3b648b;
    }
    navbar-nav .nav-link {
        --bs-nav-link-color: #ddd;
    }
    .navbar-nav .nav-link:hover {
        --bs-nav-link-hover-color: #f8c200;
    }
    .btn-link {
        text-decoration: none;
    }
    .btn-close {
        color: #fff;
        --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }
    .card {
        background: rgb(51 85 119);
    }
}