body.dark-theme {
    color: #fff;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #111822 -100%, #4575A3 100%);
    background-repeat: no-repeat;
    background-color: #3b648b;
    --txt-grey: #ddd;
    --title-ganesha: #fff;
    --bg-footer: #1a2839;
    --bg-header: #252728;
    --bs-body-color: #fff;
    --bs-body-bg: #252728;
    --bs-heading-color: #fff;
    --bs-nav-link-color: #ddd;
    --bs-link-color: #f8c200;
    /* Jaune clair pour les liens */
    --bs-link-hover-color: #e1a100;
    --bs-link-decoration: none;
    /* Jaune plus foncé pour le survol des liens */
    --bs-nav-link-hover-color: #f8c200;
    --bs-secondary-color: rgba(255, 255, 255, 0.75);
    navbar-nav .nav-link {
        --bs-nav-link-color: #ddd;
    }
    .navbar-nav .nav-link:hover {
        --bs-nav-link-hover-color: #f8c200;
    }
    .btn-link {
        text-decoration: none;
    }
    .btn-close {
        color: #fff;
    }
}