body {
    color: #000;
    background-color: white;
    --title-ganesha: #fff;
    --txt-grey: #ddd;
    background-image: linear-gradient(to bottom, #bf52a5 0, #fe5c8a 69%, #ff9e53 80%, #ff9e53 100%);
    --bg-footer: rgba(0, 0, 0, 0.2);
    --bg-header: purple;
}
