/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "./light-theme.scss";
@import "./dark-theme.scss";
html {
    height: 100%;
}

@font-face {
    font-family: 'January';
    src: url('/assets/fonts/January_Shine.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Plane Crash';
    src: url('/assets/fonts/Plane_Crash.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Galantis';
    src: url('/assets/fonts/Galantis.otf') format('truetype');
    font-weight: bold;
}

.copyright {
    display: none;
}