<a class="copyright" href="https://www.flaticon.com/free-icons/ganesha" title="ganesha icons">Ganesha icons created by Freepik - Flaticon</a>
<div class="container d-flex justify-content-center main-page">
    <div class="container-inside">

        <div class="sun-container">
            <div class="sun">
            </div>
        </div>
        <h1>Alexis Degraeve</h1>

        <div class="card mb-4 card-info">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <div class="rounded-circle" style="display: flex; justify-content: center; align-items: center; color: white; font-size: 1.5rem;">
                        <i class="fa fa-paint-brush"></i>
                    </div>
                    <h5 class="card-title ms-3 mb-0"> UX/UI <b>Designer</b> - Graphic & Front-End Design</h5>
                </div>

                <p class="card-text">
                    I am a passionate designer with a Master's degree in Sciences from the University of Namur, graduated with distinction. My expertise lies in UX/UI design, front-end development, and crafting pixel-perfect experiences.
                    <br/><br/> I specialize in front-end technologies such as Angular, React.js, Vue.js, Typescript, SCSS, and SASS, bringing creativity and aesthetics to every project. I am also skilled in animation and responsive design, creating innovative,
                    user-friendly, and visually stunning web applications.
                    <br/><br/> One of my significant accomplishments was developing a chatbot for an escape game as part of my Master's thesis, merging my design skills with technology for an engaging and interactive experience.
                </p>

                <a href="your-portfolio-link.com" class="btn btn-danger mt-3">View Portfolio</a>
            </div>
        </div>

    </div>
</div>

<div class="stars" *ngIf="darkTheme">
    <div id="stars-group-1"></div>
    <div id="stars-group-2"></div>
    <div id="stars-group-3"></div>
    <div id="stars-group-4"></div>
    <div id="stars-group-5"></div>
    <div id="stars-group-6"></div>
</div>

<section *ngIf="darkTheme">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</section>