<a class="copyright" href="https://www.flaticon.com/free-icons/ganesha" title="ganesha icons">Ganesha icons created by Freepik - Flaticon</a>
<div class="container d-flex justify-content-center">
    <div class="container-inside">
        <h1>Ganesha</h1>
        <p class="subtitle">
            <b>Alexis Degraeve</b> - Web<b>design</b> - Infographisme
        </p>
        <div class="sep"></div>
    </div>
</div>

<div class="stars" *ngIf="darkTheme">
    <div id="stars-group-1"></div>
    <div id="stars-group-2"></div>
    <div id="stars-group-3"></div>
    <div id="stars-group-4"></div>
    <div id="stars-group-5"></div>
    <div id="stars-group-6"></div>
</div>

<section *ngIf="darkTheme">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</section>

<div class="sun-container" *ngIf="!darkTheme">
    <div class="sun">
    </div>
</div>
