.stars {
    position: absolute;
    top: 3rem;
}

h1 {
    font-family: 'Galantis';
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 16rem;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    color: #ccc;
}

.sep {
    width: 100%;
    height: 0.25rem;
    background: rgba(255, 255, 255, 0.2);
}

.container-inside {
    margin-top: 4rem;
}

.info {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    svg {
        opacity: 0.8;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 12rem;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 6rem;
    }
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
}

//Change colors for multi-colors star groups
@function generate-random-stars ($screen-width, $color, $density) {
    $h-shadow: random($screen-width);
    $v-shadow: random($screen-width);
    $stars: '#{$h-shadow}px #{$v-shadow}px #{$color}';
    @for $i from 2 through $density {
        $h-shadow: random($screen-width);
        $v-shadow: random($screen-width);
        $stars: '#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}';
    }
    @return unquote($stars);
}

@mixin stars-content($screen-width, $color, $density, $speed, $delay) {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: generate-random-stars($screen-width, $color, $density);
    animation-name: glowing-stars;
    animation-duration: $speed+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: $delay+s;
}

#stars-group-1 {
    @include stars-content(1800, #fff, 200, 5, 0);
}

#stars-group-2 {
    @include stars-content(1800, #fff, 200, 15, 0.1);
}

#stars-group-3 {
    @include stars-content(1800, #fff, 200, 5, 0.2);
}

#stars-group-4 {
    @include stars-content(1800, #fff, 200, 15, 0.3);
}

#stars-group-5 {
    @include stars-content(1800, #fff, 200, 5, 0.4);
}

#stars-group-6 {
    @include stars-content(1800, #fff, 200, 5, 0.5);
}

@keyframes glowing-stars {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
