.card-info {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
}

.sun-container {
    display: flex;
    justify-content: center;
}

.sun {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 252, 234);
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    border: 10px solid gray;
    border-bottom: 0;
    outline: none;
    border-color: #fffdee;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    0% {
        box-shadow: 0 0 100px 100px rgba(255, 236, 201, 0.2)
    }
    50% {
        box-shadow: 0 0 125px 200px rgba(255, 236, 201, 0.4)
    }
    100% {
        box-shadow: 0 0 100px 100px rgba(255, 236, 201, 0.2)
    }
}

h1 {
    font-family: 'Galantis';
    margin: 0;
    color: var(--title-ganesha);
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.subtitle {
    font-size: 1rem;
    text-align: center;
    color: #eee;
    margin-top: 2rem;
}

.sep {
    width: 100%;
    height: 0.25rem;
    background: rgba(255, 255, 255, 0.2);
}

.info {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    svg {
        opacity: 0.8;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2.25rem;
    }
    .subtitle {
        font-size: 0.875rem;
    }
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
}

.icon-info {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    .fa {
        color: #ccc;
    }
}