h1 {
    font-family: 'Galantis';
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 16rem;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    color: #ccc;
}

.sep {
    width: 100%;
    height: 0.25rem;
    background: rgba(255, 255, 255, 0.2);
}

.container-inside {
    margin-top: 4rem;
}

.info {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    svg {
        opacity: 0.8;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 12rem;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 6rem;
    }
}
