<div class="container py-4">
    <div class="general-container">
        <div class="human">
            <div class="human-mask">
                <div *ngIf="translationsLoaded" class="animated-bg"></div>
                <div *ngIf="!translationsLoaded" class="skeleton skeleton-image"></div>
            </div>
        </div>
    </div>
    <div class="human-container">
        <blockquote class="quote">
            <p *ngIf="translationsLoaded">{{ 'ARTIST.citation-human' | translate }}</p>
            <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
            <cite *ngIf="translationsLoaded">— {{ ('ARTIST.MAGRITTE' | translate) }}</cite>
            <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
        </blockquote>
    </div>
    <div class="middle-content mt-0">
        <h5 *ngIf="translationsLoaded" [innerHTML]="('ARTIST.title-human' | translate)"></h5>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-title"></div>
        <p *ngIf="translationsLoaded" class="mt-4" [innerHTML]="('ARTIST.human-1' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text mt-4"></div>

        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-2' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>

        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-3' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>

        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-4' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
    </div>
</div>