<div class="general-container">
    <div class="human">
        <div class="human-mask">
            <div *ngIf="translationsLoaded" class="animated-bg"></div>
            <div *ngIf="!translationsLoaded" class="skeleton skeleton-image"></div>
        </div>
    </div>
</div>
<div class="container py-4">

    <div class="title-quote">
        <app-page-header [title]="'ARTIST.title-human'" [back]="'/artist'"></app-page-header>
        <blockquote class="quote">
            <p *ngIf="translationsLoaded">{{ 'ARTIST.citation-human' | translate }}</p>
            <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
            <cite *ngIf="translationsLoaded">— {{ ('ARTIST.MAGRITTE' | translate) }}</cite>
            <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
        </blockquote>
    </div>

    <div class="middle-content mt-0">
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-title"></div>
        <p *ngIf="translationsLoaded" class="mt-4" [innerHTML]="('ARTIST.human-1' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text mt-4"></div>

        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-2' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>

        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-3' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
        <div>
            <div class="cat">
                <div class="cat-mask">
                    <div *ngIf="translationsLoaded" class="animated-bg"></div>
                    <div *ngIf="!translationsLoaded" class="skeleton skeleton-image"></div>
                </div>
            </div>
        </div>



        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-4' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>


        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-5' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-6' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
        <p *ngIf="translationsLoaded" [innerHTML]="('ARTIST.human-7' | translate)"></p>
        <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
    </div>
</div>
