@use '../../../variables.scss' as *;
.page-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    .title-text {
        text-transform: lowercase;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    .title-text .bi-chevron-left {
        font-size: 1.25rem;
    }
    a {
        color: rgba(255, 255, 255, 0.55);
        text-decoration: none;
        &:hover {
            color: $color-3;
        }
        &.bi-chevron-left {
            font-size: 1.25rem;
        }
    }
    @media (max-width: 768px) {
        a.bi-chevron-left {
            font-size: 1rem;
            padding: 0.5rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}
