        .navbar {
            padding-left: 1rem;
            padding-right: 1rem;
            z-index: 200;
            .nav-link {
                font-family: 'Segoe UI', sans-serif;
                font-size: 1rem;
                margin-left: 2rem;
                text-wrap-mode: nowrap;
            }
        }
        
        .logo {
            height: 2.625rem;
            width: auto;
            margin-right: 0.5rem;
        }
        
        .navbar-brand {
            font-family: 'Manrope', sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            padding: 0rem 0.75rem;
        }
        
        .icon-menu {
            font-size: 32px;
            margin-right: 1rem;
        }
        
        nav {
            background-color: var(--bg-header);
        }
        
        .navbar-toggler {
            margin-left: auto !important;
            margin-right: 1rem !important;
        }
        
        @media screen and (max-width: 700px) {
            .navbar {
                padding-left: 0;
                padding-right: 0;
            }
            .navbar-toggler {
                margin-right: 0 !important;
            }
        }
