<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo_ganesha.svg" alt="Ganesha logo" class="logo"> Ganesha
        </a>

        <!-- Bouton toggler (menu mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Menu à gauche -->
            <div class="navbar-nav">
                <ng-container *ngIf="translationsLoaded; else skeletonNav">
                    <a *ngFor="let item of menuItems" class="nav-link" [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                      {{ item.title | translate }}
                  </a>
                </ng-container>

                <!-- Skeleton pour le menu -->
                <ng-template #skeletonNav>
                    <div *ngFor="let _ of [1,2,3,4,5]" class="skeleton skeleton-text skeleton-nav-item"></div>
                </ng-template>
            </div>

            <!-- Dropdown à droite -->
            <div class="ms-auto d-flex align-items-center">
                <div class="dropdown  me-3">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="darkTheme ? 'btn-dark' : 'btn-danger'">
                      {{ currentLang.toUpperCase() }}
                  </button>
                    <ul class="dropdown-menu" [ngClass]="isDesktop ? 'dropdown-menu-end' : ''" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" (click)="switchLanguage('en')" [ngClass]="currentLang==='en' ? 'active' : ''">EN</a></li>
                        <li><a class="dropdown-item" (click)="switchLanguage('fr')" [ngClass]="currentLang==='fr' ? 'active' : ''">FR</a></li>
                        <li><a class="dropdown-item" (click)="switchLanguage('nl')" [ngClass]="currentLang==='nl' ? 'active' : ''">NL</a></li>
                    </ul>
                </div>

                <!-- Bouton pour switcher entre Dark/Light mode -->
                <button type="button" class="btn btn-lg border-0" (click)="switchTheme()">
                    <i class="fa-solid" [ngClass]="darkTheme ? 'fa-sun' : 'fa-moon'"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
