<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo_ganesha.svg" alt="Ganesha logo" class="logo"> Ganesha
        </a>

        <!-- Bouton pour ouvrir le menu contextuel (offcanvas) visible uniquement en mode tablette/smartphone -->
        <button class="navbar-toggler border-0 d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuContextuel" aria-controls="menuContextuel" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-three-dots-vertical"></i>
      </button>

        <!-- Menu classique (horizontal), visible uniquement en mode desktop -->
        <div class="navbar-nav d-none d-lg-flex">
            <a class="nav-link" href="#">
                Home
            </a>
            <a class="nav-link" href="#">
                Portfolio
            </a>
            <a class="nav-link" href="#">
                About
            </a>
        </div>

        <!-- Menu contextuel (offcanvas), visible uniquement en mode tablette/smartphone -->
        <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="menuContextuel" aria-labelledby="menuContextuelLabel">
            <div class="offcanvas-header">
                <h5 id="menuContextuelLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="navbar-nav">
                    <a class="nav-link" href="#">
                        <i class="bi bi-house-door me-2"></i> Home
                    </a>
                    <a class="nav-link" href="#">
                        <i class="bi bi-briefcase me-2"></i> Portfolio
                    </a>
                    <a class="nav-link" href="#">
                        <i class="bi bi-person me-2"></i> About
                    </a>
                </div>
                <!-- Bouton avec icône et texte pour le mode dark/light -->
                <button type="button" class="ms-auto btn btn-lg w-100" [ngClass]="!darkTheme ? 'btn-danger' : 'btn-outline-warning border-0'" (click)="switchTheme()">
                  <i class="fa me-2" [ngClass]="!darkTheme ? 'fa-moon-o' : 'fa-sun-o'"></i>
              </button>
            </div>
        </div>
    </div>
</nav>