<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo_ganesha.svg" alt="Ganesha logo" class="logo"> Ganesha
        </a>


        <!-- Menu classique (horizontal), visible uniquement en mode desktop -->
        <div class="navbar-nav d-none d-lg-flex">
            <a *ngFor="let item of menuItems" class="nav-link" [href]="item.url">
                 {{ item.title}}
            </a>
        </div>
        <button type="button" class="ms-auto btn btn-lg d-none d-lg-flex border-0" [ngClass]="!darkTheme ? 'btn-danger' : 'btn-link'" (click)="switchTheme()">
          <i class="fa" [ngClass]="!darkTheme ? 'fa-moon-o' : 'fa-sun-o'"></i>
        </button>


        <!-- Bouton pour ouvrir le menu contextuel (offcanvas) visible uniquement en mode tablette/smartphone -->
        <button class="navbar-toggler border-0 shadow-none d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuContextuel" aria-controls="menuContextuel" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="bi bi-three-dots-vertical"></i>
              </button>

        <!-- Menu contextuel (offcanvas), visible uniquement en mode tablette/smartphone -->
        <div class="offcanvas offcanvas-end d-lg-none" tabindex="-1" id="menuContextuel" aria-labelledby="menuContextuelLabel">
            <div class="offcanvas-header">
                <button type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="ps-0 border-0 btn btn-link"><i class="bi bi-chevron-left fs-3 fw-bold icon-menu"></i></button>
                <h5 id="menuContextuelLabel">Menu</h5>
            </div>
            <div class="offcanvas-body">
                <div>

                    <a *ngFor="let item of menuItems" class="nav-link mb-3 d-flex align-items-center" [href]="item.url">
                        <i *ngIf="item.icon" class="bi icon-menu" [ngClass]="item.icon"></i>
                        <div>
                            <div class="fw-bold">{{ item.title }}</div>
                            <div *ngIf="item.description">{{ item.description }}</div>
                        </div>
                    </a>

                </div>
                <!-- Bouton avec icône et texte pour le mode dark/light -->
                <button type="button" class="mt-2 ms-auto btn btn-lg w-100" [ngClass]="!darkTheme ? 'btn-danger' : 'btn-link-warning border-0'" (click)="switchTheme()">
                  <i class="fa me-2" [ngClass]="!darkTheme ? 'fa-moon-o' : 'fa-sun-o'"></i>
              </button>
            </div>
        </div>
    </div>
</nav>