<div class="container d-flex flex-column justify-content-start align-items-center text-center min-vh-100">
    <!-- Icône en rapport avec un éléphant, ou quelque chose de similaire -->
    <div class="mb-4">
        <i class="bi bi-search-heart" style="font-size: 5rem; color: #fff;"></i>
    </div>

    <!-- Texte 404 avec un style moderne -->
    <h1 class="fw-bold text-white">404</h1>
    <p class="lead text-white">Sorry, this page doesn't exist or has been moved.</p>

    <a routerLink="/welcome" class="btn btn-outline-light mt-4">Go to Home</a>
</div>