<div class="d-flex flex-column h-100">
    <app-header></app-header>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>

<div class="stars" *ngIf="darkTheme">
    <div id="stars-group-1"></div>
    <div id="stars-group-2"></div>
    <div id="stars-group-3"></div>
    <div id="stars-group-4"></div>
    <div id="stars-group-5"></div>
    <div id="stars-group-6"></div>
</div>

<section *ngIf="darkTheme">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</section>
