<div class="container py-2">

    <div class="man">
        <div class="falling-container-mask" *ngIf="!figuresLoaded">
            <div class="man-mask skeleton-mask"></div>
        </div>
        <div class="falling-container" *ngIf="figuresLoaded">
            <div *ngFor="let figure of figures" class="falling-figure" [ngStyle]="figure.style">
                <div class="gradient-mask" [ngStyle]="{'width': figure.size + 'px'}"></div>
            </div>
        </div>
    </div>

    <div class="man-container">
        <blockquote class="quote">
            <p *ngIf="translationsLoaded">{{ 'ARTIST.citation' | translate }}</p>
            <div *ngIf="!translationsLoaded" class="skeleton skeleton-text"></div>
            <cite>— Walt Disney</cite>
        </blockquote>
    </div>

    <div class="middle-content">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of cardsData">
                <div class="card h-100">
                    <div class="card-header d-flex align-items-center">
                        <div class="card-header-icon">
                            <div class="circle-header" *ngIf="translationsLoaded">
                                <i [class]="card.icon" class="circle-icon" *ngIf="card.icon"></i>
                                <img [src]="card.image" alt="Illustration" class="img-fluid mb-3" *ngIf="card.image">
                            </div>
                            <div *ngIf="!translationsLoaded" class="skeleton skeleton-image"></div>
                        </div>
                    </div>
                    <div class="card-body artist-body">
                        <h5 class="card-title" *ngIf="translationsLoaded" [innerHTML]="card.title | translate"></h5>
                        <div *ngIf="!translationsLoaded" class="skeleton skeleton-title"></div>
                        <div *ngIf="translationsLoaded">
                            <p class="card-text" [innerHTML]="card.description | translate"></p>
                            <a *ngIf="card.url" [routerLink]="card.url" class="btn btn-outline-light mt-3 mb-4">
                                <span>{{ 'ARTIST.btn-know-more' | translate }}</span> <i class="bi bi-chevron-right ms-2"></i>
                            </a>
                        </div>
                        <div *ngIf="!translationsLoaded">
                            <div class="skeleton skeleton-text"></div>
                            <div class="skeleton skeleton-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>