<div class="container py-5 credits">
    <h2 class="mb-4" [innerHTML]="'LEGAL.title' | translate"></h2>

    <p class="mb-3" [innerHTML]="'LEGAL.intro' | translate"></p>

    <h5 class="mt-4" [innerHTML]="'LEGAL.design-title' | translate"></h5>
    <div [innerHTML]="'LEGAL.design-content' | translate"></div>

    <h5 class="mt-4" [innerHTML]="'LEGAL.images-title' | translate"></h5>
    <p [innerHTML]="'LEGAL.images-content' | translate"></p>
    <p [innerHTML]="'LEGAL.images-note' | translate"></p>

    <h5 class="mt-4" [innerHTML]="'LEGAL.inspiration-title' | translate"></h5>
    <p [innerHTML]="'LEGAL.inspiration-content' | translate"></p>

    <h5 class="mt-4" [innerHTML]="'LEGAL.info-title' | translate"></h5>
    <p [innerHTML]="'LEGAL.info-content' | translate"></p>
</div>