<!-- Footer -->
<footer class="bg-footer text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container pt-2">
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/alexis.degraeve" role="button"><i class="fa-brands fa-facebook-f"></i
      ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/alexisdegraeve/" role="button "><i class="fa-brands fa-instagram "></i
      ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/degraevealexis/" role="button "><i class="fa-brands fa-linkedin "></i
      ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/alexisdegraeve" role="button "><i class="fa-brands fa-github "></i
      ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-2 ">
            <p>
                <i class="fa fa-cloud "></i> New website out in December 2024
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 copyright-txt ">
        © 2024 - 2025 Copyright Ganesha - Alexis Degraeve
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->