<!-- Footer -->
<footer class="bg-footer text-center text-white py-4">
    <div class="skyline"></div>

    <!-- Grid container -->
    <div class="container">
        <!-- Section: Social media -->
        <section class="social-media-container">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/alexis.degraeve" role="button">
                <i class="fa-brands fa-facebook-f"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/alexisdegraeve/" role="button">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <!-- LinkedIn -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/degraevealexis/" role="button">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <!-- GitHub -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/alexisdegraeve" role="button">
                <i class="fa-brands fa-github"></i>
            </a>

            <!-- YouTube -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.youtube.com/@ganeshamusicme657" role="button">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->

    <div class="text-center copyright-txt d-flex flex-column flex-md-row justify-content-center align-items-center">
        <div [innerHTML]="'FOOTER.copyright' | translate"></div>

        <!-- Le séparateur visible uniquement à partir de md (tablette) -->
        <span class="mx-2 d-none d-md-inline">|</span>

        <a routerLink="/credits" class="link-warning text-decoration-none mt-md-0" [innerHTML]="'FOOTER.footer-legal-link' | translate"></a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
