<!-- Footer -->
<footer class="bg-footer text-center text-white py-4">
    <!-- Grid container -->
    <div class="container">
        <!-- Section: Social media -->
        <section>
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/alexis.degraeve" role="button"><i class="fa-brands fa-facebook-f"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/alexisdegraeve/" role="button"><i class="fa-brands fa-instagram"></i></a>

            <!-- LinkedIn -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/in/degraevealexis/" role="button"><i class="fa-brands fa-linkedin"></i></a>

            <!-- GitHub -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/alexisdegraeve" role="button"><i class="fa-brands fa-github"></i></a>

            <!-- YouTube -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.youtube.com/@ganeshamusicme657" role="button"><i class="fa-brands fa-youtube"></i></a>
        </section>

        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-2 ">
            <p>
                <i class="fa fa-cloud "></i> New website out in December 2025
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center copyright-txt ">
        © 2025 Copyright Ganesha - Alexis Degraeve
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
