.copyright-txt {
    color: var(--txt-grey);
    font-size: 12px;
}

.bg-footer {
    background-color: var(--bg-footer);
    z-index: 10;
    position: relative;
    height: 7rem;
}

.skyline {
    position: relative;
    background: linear-gradient(to bottom, #111, #000);
    height: 5rem;
    width: 100%;
    overflow: hidden;
    mask: url('/assets/skyline.png') no-repeat center;
    -webkit-mask: url('/assets/skyline.png') no-repeat center;
    /* Pour les80nciens navigateurs */
    mask-size: 80vh !important;
    -webkit-mask-size: 80vh !important;
    mask-repeat: inherit;
    /* Compatibilité avec les anciens navigateurs */
    position: absolute;
    top: -5rem;
    left: 0;
    width: 100%;
    z-index: 100;
}